includes:
	- phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - utils
        - public
        - rector.php
        - ecs.php
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - utils/PHPStan/tests/*/Fixtures/*

rules:
    - Utils\PHPStan\DynamicInstantiationRule
    - Utils\PHPStan\NoExitRule
