includes:
	- phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - utils
        - public
        - rector.php
        - ecs.php
    reportUnmatchedIgnoredErrors: false
